<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  </head>
  <body>
    <div class="ct-chart"></div>
    <div class="container" id="app">

      <div class="row">
        <div class="col-md-12 my-2">
          <h2>Tax calculator</h2>
        </div>
      </div> <!-- end row -->

      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <label for="original_amount">Total salary per month:</label>
            </div>
            <div class="col-xs-12">
              <button v-for="item in examples" class="btn btn-sm btn-secondary" v-on:click="updateTotalSal(item.price)">{{ item.price }}</button>
              <input class="form-control" type="range" min="0" max="2000000" v-model="totalSalary" />
              <div class="input-group input-group">
                <span class="input-group-addon">Kr</span>
                <input type="number" class="form-control" v-model="totalSalary" placeholder="Original Amount" id="original_amount" />
              </div>
            </div>
            <div class="col-xs-12 mt-1">
              <label for="personal_discount">Personal discount, yearly</label>
              <div class="input-group input-group">
                <span class="input-group-addon">Kr</span>
                <input type="number" class="form-control" v-model="personalDiscountYear" placeholder="Original Amount" id="original_amount" />
              </div>
            </div>

            <div class="col-xs-12 mt-2">
              <h6>Tax rate and limit for each step:</h6>
              <div v-for="item in steps">
                <hr />
                <div class="row">
                  <div class="col-xs-3">
                    <p>Tax % </p>
                  </div>
                  <div class="col-xs-5">
                    <input class="form-control" type="range" min="0" max="100" v-model="item.taxPct" />
                  </div>
                  <div class="col-xs-4">
                    <input class="form-control" type="number" min="0" max="100" v-model="item.taxPct" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">
                    <p>Salary limit</p>
                  </div>
                  <div class="col-xs-5">
                    <input class="form-control" type="range" min="0" max="999999" v-model="item.limit" />
                  </div>
                  <div class="col-xs-4">
                    <input class="form-control" type="number" min="0" max="999999" v-model="item.limit" />
                  </div>
                </div>
              </div>

            </div>
          </div> <!-- row -->

        </div> <!-- col6 -->

        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-12 mt-2">
              <table class="table table-sm table-bordered table-hover">
                <tr><td>Monthly Salary:  </td><td>{{ totalSalary }}</td></tr>
                <tr><td>Monthly discount:</td><td>{{ personalMonth }}</td></tr>
                <tr><td>Tax from Step1   </td><td>{{ taxFromStep1 }}</td></tr>
                <tr><td>Tax from Step2   </td><td>{{ taxFromStep2 }}</td></tr>
                <tr><td>Tax from Step3   </td><td>{{ taxFromStep3 }}</td></tr>
                <tr><td>Total tax:       </td><td>{{ totalTax }}</td></tr>
                <tr><td><b>Salary remain:</b></td><td><b>{{ totalLeft }}</b></td></tr>
                <tr><td>~Total tax pct:  </td><td>{{ realTax }}%</td></tr>
              </table>
            </div>
            <div class="col-md-12">
            </div>
          </div> <!-- end row -->
        </div>

      </div> <!-- end row -->
    </div> <!-- cont -->
  </body>
  <script type="text/javascript" charset="utf-8" src="index.js"></script>
</html>
