<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tax Calculator</title>
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue2-filters/0.1.9/vue2-filters.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" id="app">

      <div class="row">
        <div class="col-md-12">
          <h2 class="my-1">Tax calculator</h2>
          <p>
            Default values are from Icelandic ministry of finance for year
            <a href="https://www.rsk.is/einstaklingar/stadgreidsla/stadgreidsla/2017/#tab2">2017.</a>
          </p>
          <p>
          36.94% af tekjum 0 - 834.707 kr.<br />
          46,24% af tekjum yfir 834.707 kr.
          </p>
        </div>
      </div> <!-- end row -->

      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <div class="row">
            <div class="col-xs-12">
              <label for="original_amount">Total salary per month:</label>
            </div>
            <div class="col-xs-12">
              <button v-for="item in examples" class="btn btn-sm btn-secondary" v-on:click="updateTotalSal(item.price)">{{ item.price }}</button>
              <input class="form-control" type="range" min="0" max="2000000" v-model="totalSalary" />
              <div class="input-group input-group">
                <span class="input-group-addon">Kr</span>
                <input type="number" class="form-control" v-model="totalSalary" placeholder="Original Amount" id="original_amount" />
              </div>
            </div>
            <div class="col-xs-12 mt-1">
              <label for="personal_discount">Personal discount, yearly</label>
              <div class="input-group input-group">
                <span class="input-group-addon">Kr</span>
                <input type="number" class="form-control" v-model="personalDiscountYear" placeholder="Original Amount" id="original_amount" />
              </div>
            </div>

            <div class="col-xs-12 mt-2">
              <h6>Tax rate and limit for each step:</h6>
              <div v-for="(item, index) in steps" >
                <hr />
                <div class="row">
                  <div class="col-xs-3">
                    <p>Tax % in <b>step {{index + 1}} </b></p>
                  </div>
                  <div class="col-xs-5">
                    <input class="form-control" type="range" min="0" max="100" v-model="item.taxPct" />
                  </div>
                  <div class="col-xs-4">
                    <input class="form-control" type="number" min="0" max="100" v-model="item.taxPct" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">
                    <p>Salary threshold</p>
                  </div>
                  <div class="col-xs-5">
                    <input class="form-control" type="range" min="0" max="999999" v-model="item.limit" />
                  </div>
                  <div class="col-xs-4">
                    <input class="form-control" type="number" min="0" max="999999" v-model="item.limit" />
                  </div>
                </div>
              </div> <!-- items -->

            </div>
          </div> <!-- row -->
        </div> <!-- col-xs-12 col-lg-6 -->

        <div class="col-xs-12 col-lg-6">
          <div class="row">
            <div class="col-md-12 mt-2">
              <table class="table table-sm table-bordered table-hover">
                <tr class=""><td>Monthly Salary:                  </td><td>{{ totalSalary  | currency('', 0)}}</td></tr>
                <tr class="text-success"><td>Monthly tax discount:</td><td>{{ personalMonth| currency('', 0)}}</td></tr>
                <tr class="text-muted"><td>Tax from Step1         </td><td>{{ taxFromStep1 | currency('', 0)}}</td></tr>
                <tr class="text-muted"><td>Tax from Step2         </td><td>{{ taxFromStep2 | currency('', 0)}}</td></tr>
                <tr class="text-danger"><td>Total tax:            </td><td>{{ totalTax     | currency('', 0)}}</td></tr>
                <tr class=""><td><b>Salary remain:</b>            </td><td><b>{{ totalLeft | currency('', 0)}}</b></td></tr>
                <tr><td>~Actual tax percentage:  </td><td>{{ realTax }}%</td></tr>
              </table>
            </div>
          </div> <!-- end row -->
        </div>

          <div class="col-md-12 text-muted">
            <hr />
            <i>This does NOT calculate vacation (ísl: 'orlof') nor what you pay your union (ísl: 'stéttarfélag').</i>
            <h6>TODO:</h6>
            <input type="checkbox" name="" id="" value="" disabled="disabled" />
            Calculate vacation 'orlof' - can be 24-30 days.
            <br />
            <input type="checkbox" name="" id="" value="" disabled="disabled" />
            Calculate union 'Verkalýdsfélag'
          </div>


      </div> <!-- end row -->
      <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-md-12">
          <p>This code is free and open source.</p>
          <a href="https://www.github.com/viktorsmari/tax-calculator/">Click here for code</a>
        </div>
      </div>
    </div> <!-- cont -->
  </body>
  <script type="text/javascript" charset="utf-8" src="index.js"></script>
</html>
